BasedOnStyle: Microsoft

UseTab: ForContinuationAndIndentation
ColumnLimit: 0

InsertBraces: true

BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterUnion: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false

QualifierAlignment: Right
SortIncludes: Never
SortUsingDeclarations: Never
